%golden {
  font-size: 44px;
  line-height: 55px;
  letter-spacing: 0.5px;
  color: transparent;
  font-family: "Baskerville-SemiBold";
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: contain;
}
